In [7]:
#THEORY BASED QUESTIONS

In [1]:
#Q1 What are data structures, and why are they important?
#ANS 
# Data structures are fundamental ways of organizing and storing data for efficient use within computer programs.
#They make it easier for computer to process large,complex sets of information.

In [2]:
# Q2 Explain the difference between mutable and immutable data types with examples ?
#ANS
# Mutable datatypes are the type which can be edited and can be modified after they are created, while immutable datatypes are the types which can't be edited and modified.
#Examples of mutable data types are list ,dictionaries and sets.
#Examples pf immutables data types are tuples and strings

In [3]:
# Q3 What are the main differences between lists and tuples in Python?
#ANS
#Main differences between lists and tuples in python is that lists show mutability while tuples doesn't.

In [4]:
#Q4 Describe how dictionaries store data?
#ANS
#Dictionaries stores data in the from of key and value pairs.
#as key:value

In [5]:
#Q5 Why might you use a set instead of a list in Python?
#ANS
# One can use a set instead of list in python as Sets are unordered collections of unique elements, while lists are ordered collections that can contain duplicate elements.
#SETS isn't subscriptable or sliceable.

In [16]:
#Q6 What is a string in Python, and how is it different from a list?
#ANS
#Strings in Python are sequences of characters enclosed in quotes ('' or “”).

In [2]:
#Q7 How do tuples ensure data integrity in Python?
#ANS
#Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability.

In [3]:
#Q8 What is a hash table, and how does it relate to dictionaries in python?
#ANS
#A hash table is a data structure that stores key-value pairs, using a hash function to compute an index (or "hash") for each key.

In [4]:
#Q9 Can lists contain different data types in python?
#ANS
#Yes It can.

In [5]:
#Q10 Explain why strings are immutable in Python?
#ANS
# Strings are immutable in python for several reasons such as efficiency,thread safety,use as dictionaries keys,avoide unintendee side effects and method chaining.

In [6]:
#Q11 What advantages do dictionaries offer over lists for certain tasks?
#ANS 
# It is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner.

In [7]:
#Q12 Describe a scenario where using a tuple would be preferable over a list?
#ANS
#Advantages of tuple over list in python are that they can be sorted, iterated and they maintain their order automatically. Such as for adhaar card id ,employee id and so on

In [8]:
#Q13 How do sets handle duplicate values in Python?
#ANS
#Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically ignored, and the set remains unchanged.

In [9]:
#Q14 How does the “in” keyword work differently for lists and dictionaries?
#ANS
#The "in" operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list

In [10]:
#Q15 Can you modify the elements of a tuple? Explain why or why not?
#ANS
#NO,one cannnot modify elemments of a tuple as tuples are immutable.

In [12]:
#Q16 What is a nested dictionary, and give an example of its use case?
#ANS
#A nested dictionary in Python is a dictionary where the values are themselves dictionaries.
# A dictionary representing a student's information.
student_data = {
    "name": "INNAMA",
    "grades": {  # Inner dictionary for grades
        "math": 95,
        "science": 92,
        "history": 88 },
   
    "contact": {  # Another inner dictionary for contact details
        "email": "zahra@example.com",
        "phone": "123-456-7890"    }}
# Accessing values within the nested dictionary.
print(student_data["name"])  
print(student_data["grades"]["science"])  
print(student_data["contact"]["email"])

INNAMA
92
zahra@example.com

In [13]:
#Q17Describe the time complexity of accessing elements in a dictionary?
#ANS
#Accessing an element in a dictionary typically takes O(1) (constant time) on average. This means the time it takes to retrieve a value using its key doesn't increase significantly as the dictionary size grows.

In [14]:
#Q18  In what situations are lists preferred over dictionaries?
#ANS
#Lists are often preferred over dictionaries when the order of elements is crucial, you need to maintain an ordered collection, or when operations like adding, removing, or accessing elements by index are frequent.

In [ ]:
#Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?
#ANS
#A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

In [15]:
#Q20 Explain the difference between a list and a dictionary in terms of data retrieval.
#ANS
#lists access elements by their index (position), while dictionaries access them by their unique key.

In [8]:
#PRACTICAL QUESTIONS

In [9]:
#Q1 Write a code to create a string with your name and print it?
NAME="INNAMA"
print(f" My name is {NAME}")

 My name is INNAMA

In [10]:
#Q2 Write a code to find the length of the string "Hello World"?
STR ="Hello World"
len(STR)

11

In [17]:
#Q3 Write a code to slice the first 3 characters from the string "Python Programming"?
something = "Python Programming"
sliced_string = something[:3]
print(sliced_string)

Pyt

In [11]:
#Q4 Write a code to convert the string "hello" to uppercase?
str="hello"
str.upper()

'HELLO'

In [12]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str="I like apple"
str.replace("apple","orange")

'I like orange'

In [13]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it?
a= list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [16]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]?
b=list(range(1,5))
b.append(10)
print(b)

[1, 2, 3, 4, 10]

In [19]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
c=list(range(1,6))
c.remove(3)
print(c)

[1, 2, 4, 5]

In [26]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
d = ['a', 'b', 'c', 'd']
print(d[1])

b

In [29]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50]?
e=[10, 20, 30, 40, 50]
e.reverse()
print(e)

[50, 40, 30, 20, 10]

In [127]:
#Q11 Write a code to create a tuple with the elements 100, 200, 300 and print it?
t=(100,200,300,)
print(t)

(100, 200, 300)

In [125]:
#Q12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
t=("red","green","blue","yellow")
print(t[-2])

blue

In [126]:
#Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10,20,5,15)
print(min(t))

5

In [123]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [41]:
#Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits=("mango","kiwi","banana")
"kiwi" in fruits

True

In [122]:
#Q16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'b', 'a', 'c'}

In [121]:
#Q17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [120]:
#Q18  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s ={1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [53]:
#Q19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
union_set = set1|set2
print(union_set)

{1, 2, 3, 4, 5}

In [55]:
#Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_a={1,2,3}
set_b={2,3,4}
intersection_set =(set_a,set_b)
print(intersection_set)

({1, 2, 3}, {2, 3, 4})

In [65]:
#Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
data={"Name":"",
      "AGE":23,
      "CITY":""}
print(data)

{'Name': '', 'AGE': 23, 'CITY': ''}

In [70]:
#Q22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
data={"Name":"John",
      "AGE":25,}
data["Country"]="USA"
print(data)

{'Name': 'John', 'AGE': 25, 'Country': 'USA'}

In [76]:
#Q23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name':'Alice','age':30}
print(dict['name'])

Alice

In [82]:
#Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict ['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [83]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
'city' in data

True

In [119]:
#Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, "apple", "banana"]

# Creating a tuple
my_tuple = (4, 5, 6, "grape", "orange")

# Creating a dictionary
my_dict = {"name": "John", "age": 30, "city": "New York"}

# Printing the list
print("List:", my_list)

# Printing the tuple
print("Tuple:", my_tuple)

# Printing the dictionary
print("Dictionary:", my_dict)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (4, 5, 6, 'grape', 'orange')
Dictionary: {'name': 'John', 'age': 30, 'city': 'New York'}

In [86]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced).
import random
random_numbers =[]
for _ in range(5):
    random_numbers.append(random.randint(1,100))
    random_numbers.sort()
print(random_numbers)

[45, 53, 62, 86, 90]

In [128]:
#Q28 Write a code to create a list with strings and print the element at the third index.
l=["Ajay","Innama","Aalmeen","Zahra","Khadija"]
print(l[3])

Zahra

In [96]:
#Q29 Write a code to combine two dictionaries into one and print the result.
dict1={'Name':'Innama','Age':15}
dict2={'City':'Lucknow','Profession':'Student'}
final_dict =dict1,dict2
print(final_dict)

({'Name': 'Innama', 'Age': 15}, {'City': 'Lucknow', 'Profession': 'Student'})

In [116]:
del set

In [117]:
#Q30 Write a code to convert a list of strings into a set.
a = ["apple", "banana", "cherry", "apple", "date"]
s = set(a)
print(s)

{'date', 'cherry', 'banana', 'apple'}